/*
* Custom styles related for Ux presentation
*/
.one {
    display: block;
    width: 99%;
}
.one-two {
    display: inline-block;
    width: 48%;
}
section .vertical-divider {
    border-left: 2px solid #999;
    display: inline-block;
    height: 98%;
    width: 1px;
}
section .horizontal-divider {
    border-bottom: 2px solid #999;
    height: 1px;
    margin: 10px 0;
    width: 99%;
}

.color-grey {
    color: #93a1a1;
}

.reveal section .buzzwords_cloud {
    background: none;
    border: none;
    box-shadow: none;
}